/*
main css
lady gaga 4 ever
*/



/*
import font
*/
@font-face {font-family: "MeduimFK"; src: url("/data/FKGrotesk-Medium.woff") format("woff");}
@font-face {font-family: "BoldItalic"; src: url("/data/FKGrotesk-BoldItalic.woff") format("woff");}



/*
blokace pro vertikalni zarizeni
*/
@media (max-aspect-ratio: 1/1) {
  .pg {display: none !important;}
}
#turnHorizontal {position: absolute; top: 50%; left: 50%; z-index: 999999; transform: translate(-50%, -50%); width: 100vw; height: 100%; background: url('/data/turnHorizontal.png') center center no-repeat white; background-size: 40%; transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);}



/*
main
*/
* {user-select: none; cursor: none !important; font-display: fallback;}
html, body {padding: 0; margin: 0; font-family: "MeduimFK", monospace; font-display: fallback; font-size: 3vh; background: white; overflow: hidden; width: 100vw; height: 100%; position: absolute;}

::selection {background: rgb(0, 255, 0);}

* {scrollbar-width: thin; scrollbar-color: dark;}
*::-webkit-scrollbar-track {background: transparent;}
*::-webkit-scrollbar {width: 1vh; height: 1vh; background: transparent;}
*::-webkit-scrollbar-thumb {background: black;}

a {transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);}
a, a:visited {color: black; text-decoration: underline;}
a:hover {color: red;}

h1, h2, h3 {margin: 0; padding: 0; font-family: "BoldItalic", monospace; font-weight: normal; font-style: normal;}
p.action {pointer-events: all !important;}
video {background: url('/data/loading.gif') center center no-repeat;}

:root {
  --progress-bar-color: rgb(0,255,0);
}


/*
mobil
*/
.mobile .cursor {display: none !important;}
.mobile, .mobile .pg {height: 100% !important;}



/*
gizmo cursor
*/
.cursor {position: absolute; z-index: 99; pointer-events: none; top: 50%; left: 50%;}
  #gizmo, #dot {transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1); opacity: 0; position: absolute; transform: translate(-50%, -50%); pointer-events: none;}
  #dot {width: 3vh; height: 3vh; background: white; border-radius: 50%;}
  .cursor.hover #dot {width: 6vh; height: 6vh; animation: pulse infinite ease 4s; filter: invert(100%);}
    @keyframes pulse {
      0% {transform: translate(-50%, -50%) scale(1);}
      50% {transform: translate(-50%, -50%) scale(1.15);}
      100% {transform: translate(-50%, -50%) scale(1);}
    }
  #gizmo {width: 20vh; height: 20vh; transform: translate(-50%, 0%) scale(1.5);}
  #cube {width: 10vh; height: 10vh; transform-style: preserve-3d; transform: rotateX(-45deg) rotateY(-45deg) rotateZ(0deg) translateY(10vh); margin: auto; position: relative;}
  #cube > div {position: absolute; transition: all 0.5s ease-in-out; width: 10vh; height: 10vh; float: left; overflow: hidden; border: 1vh solid transparent;}
    #s1 {transform: rotatex(90deg) translateX(0) translateY(0) translateZ(5.62vh);}
    #s2 {transform: rotateY(-90deg) translateX(0) translateY(0) translateZ(5.62vh); border-bottom: 0.25vh solid blue !important; border-left: 0.25vh solid red !important;}
    #s3 {transform: translateX(0) translateY(0) translateZ(5.62vh);}
    #s4 {transform: rotateY(90deg) translateX(0) translateY(0) translateZ(5.62vh);}
    #s5 {transform: rotateY(180deg) translateX(0) translateY(0) translateZ(5.62vh); border-bottom: 0.25vh solid rgb(0,255,0) !important; border-right: 0.25vh solid red !important;}
    #s6 {transform: rotateX(-90deg) translateX(0) translateY(0) translateZ(5.62vh); border-bottom: 0.25vh solid rgb(0,255,0) !important; border-left: 0.25vh solid blue !important;}
.cursor.gizmo #gizmo, .cursor.dot #dot {opacity: 1 !important;}
                      .cursor.dot {mix-blend-mode: exclusion;}
                      .cursor.dot.red #dot {background: cyan !important;}
                      .cursor.dot.blue #dot {background: yellow !important;}
                      .cursor.dot.green #dot {background: magenta !important;}



/*
grabber
*/
.grabber {/* cursor: grab !important; */ user-select: none !important;}
.grabbed {/* cursor: grabbing !important; */}
  .grabbed::-webkit-scrollbar-thumb {background: black !important;}



/*
loading + blinder
*/
#loading {position: fixed; z-index: 998; left: 0; top: 0; width: 100vw; height: 1vh; background: linear-gradient(to right, transparent 90%, blue 10%); background-size: 200% 100%; animation: loading 3s infinite cubic-bezier(0.25, 1, 0.5, 1); animation-direction: alternate;}
#imgLoading {position: fixed; z-index: 999; background: rgb(0,255,0); text-align: center; width: 0; height: 1vh; left: 0; top: 0;}
@keyframes loading {
    0%   {background-position-x: 200%;}
    100% {background-position-x: 90%;}
}
/* blinder ==> pri nacitani zaslepi vlozene html, aby se na nej nedalo klikat*/
#blinder {position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 99; backdrop-filter: grayscale(100%);}




/*
general funkce na divy
*/
.fadeout {opacity: 0 !important; transform: translate(-50%, -50%) scale(0.9) !important;}
.fadeup {opacity: 0 !important; transform: translate(-50%, -50%) scale(1.1) !important;}



/*
centered divs
*/
.center {
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%) scale(1); opacity: 1; transform-origin: center center;
}



/*
homepage
*/
#logo {width: 56vw; height: 23.5vw; z-index: 10; transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);}
  #logo.red {background: url('/data/logoR.png') center center no-repeat; background-size: contain;}
  #logo.blue {background: url('/data/logoB.png') center center no-repeat; background-size: contain;}
  #logo.green {background: url('/data/logoG.png') center center no-repeat; background-size: contain;}
#homebg {width: 100vw; height: 100vh;}
  #homebg video {position: absolute; min-width: 100%; min-height: 100%;}

.textSlider {width: 100vw; position: absolute; overflow: hidden; transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1); font-family: "BoldItalic", monospace;}
  .textSlider div {display: table-cell; word-break: keep-all; white-space: nowrap; animation: textSlide 20s linear infinite reverse; animation-delay: -3s;}
  @keyframes textSlide {
    0% {transform: translateX(-50%);}
    100% {transform: translateX(0%);}
  }
  .textSlider.hidden {bottom: -7vh !important;}

#lista {height: 4.5vh; background: white; color: black; bottom: 0; left: 0; z-index: 3; padding: 0.75vh; font-size: 4.5vh; line-height: 4.5vh;}
#aktuality {height: 2vh; background: #303030; color: white; bottom: 6vh; left: 0; z-index: 2; padding: 1vh; font-size: 2vh; line-height: 2vh;}
#patka {position: absolute; bottom: 0; right: 0; height: 4.5vh; padding: 0.75vh 1.25vh; line-height: 4.5vh; font-size: 2.5vh; z-index: 20; background: white;}



/*
stranky
setup pozicovani dle linku
*/
#content {z-index: 10;}
#content, #about, #contact, #projects, #admin {overflow: hidden; transition: all 1s cubic-bezier(0.25, 1, 0.5, 1); position: absolute;}
#content {width: 100vw; height: 100vh; margin: 0;}
  #content.home {margin: 0;}
  #content.about {margin-left: 70vw; margin-top: 0;}
  #content.contact {margin-left: 0vh; margin-top: 50vh;}
  #content.projects {margin-left: -100vw; margin-top: 0;}
  #content.admin {margin-top: -100vh; margin-left: 0;}
#about {width: 70vw; height: 100vh; margin: 0;}
  #about.home {margin-left: -70vw; margin-top: 0;}
  #about.about {margin: 0;}
  #about.contact {margin-left: -70vw; margin-top: 50vh;}
  #about.projects {margin-left: -170vw; margin-top: 0;}
  #about.admin {margin-top: -100vh; margin-left: 70vw;}
#contact {width: 100vw; height: 50vh;  margin: 0;}
  #contact.home {margin-top: -50vh; margin-left: 0;}
  #contact.about {margin-top: -50vh; margin-left: 70vw;}
  #contact.contact {margin: 0;}
  #contact.projects {margin-top: -50vh; margin-left: -100vw;}
  #contact.admin {margin-top: -100vh; margin-left: 0;}
#projects {width: 100vw; height: 100vh; margin: 0;}
  #projects.home {margin-left: 100vw; margin-top: 0;}
  #projects.about {margin-left: 170vw; margin-top: 0;}
  #projects.contact {margin-left: 100vw; margin-top: 50vh;}
  #projects.projects {margin: 0;}
  #projects.admin {margin-top: -100vh; margin-left: -100vw;}
  #projects.escape {margin-left: 200vw;}
#admin {width: 100vw; height: 100vh;  margin: 0;}
  #admin.home {margin-top: 100vh; margin-left: 0;}
  #admin.about {margin-top: -50vh; margin-left: 70vw;}
  #admin.contact {margin-top: 150vh; margin-left: 0;}
  #admin.projects {margin-top: 100vh; margin-left: -100vw;}
  #admin.admin {margin: 0;}



/*
navigace
setup pozice
*/
.navig {background: green; opacity: 1; z-index: 25; position: absolute; position: absolute; pointer-events: all;}
#projects .navigHome {left: 0; top: 0; height: 100vh; background: linear-gradient(-90deg, transparent 0%, rgba(0,255,0,1) 100%);}
#content .navigAbout {left: 0; top: 0; height: 100vh; background: linear-gradient(-90deg, transparent 0%, rgba(0,0,255,1) 100%);}
  #content .navigAbout.long {width: 30vw;} /* !important */
#content .navigProjects {right: 0; top: 0; height: 100vh; background: linear-gradient(90deg, transparent 0%, rgba(0,255,0,1) 100%);}
#content .navigContact {top: 0; left: 0; width: 100vw; z-index: 26; background: linear-gradient(0deg, transparent 0%, rgba(255,0,0,1) 100%);}
  #content .navigContact.long {height: 50vh;} /* !important */
  .long {opacity: 1 !important;}

.button {opacity: 0; position: absolute; font-weight: bold; transform: translate(-50%, -50%) scale(1.2); transition: all 1s cubic-bezier(0.25, 1, 0.5, 1); width: 15vh; height: 15vh; text-align: center; line-height: 15vh; border-radius: 50%; border: 0.3vh solid black; font-size: 2.5vh; z-index: 20; pointer-events: none;}
  .buttonAbout {top: 50%; left: 10vw;}
  .buttonContact {top: 15vh; left: 50%;}
  .buttonProjects {top: 50%; right: 1vw;}
.button.on {opacity: 1; transform: translate(-50%, -50%) scale(1);}

.content {opacity: 1; transition: all 1s cubic-bezier(0.25, 1, 0.5, 1);}
  .content.off {opacity: 0;}



/*
mobil menu
*/
.burger {z-index: 99999; position: fixed; top: -2vh; right: 0; font-size: 10vh; color: black; padding: 3vh; mix-blend-mode: exclusion; color: white; cursor: pointer !important;}
  .mobilMenu {display: none; z-index: 99998; position: fixed; top: 0; left: 0; width: 100vw; height: 100%; background: rgba(255,255,255,0.75); cursor: pointer !important;}
  .mobilMenu ul {list-style: none; transform: translate(-50%, -50%); font-size: 10vh; margin: 0; text-align: center;}
    .mobilMenu ul li {cursor: pointer !important;}



/*
about
*/
#aboutBody {width: calc(70vw - 6vh); height: calc(100vh - 6vh); padding: 3vh; overflow-y: scroll; font-size: 5vh;}
  #aboutBody::-webkit-scrollbar-thumb {background: blue;}

  #aboutBody a:hover {color: blue;}



/*
contact
*/
#contactBody {width: calc(100vw - 6vh); height: calc(50vh - 3vh); padding: 3vh; padding-bottom: 0; overflow-x: scroll; font-size: 2vh;}
  #contactBody::-webkit-scrollbar-thumb {background: red;}
  .person {display: table-cell; min-width: 23vw; max-height: 28vh; padding: 2vh 4vh 0vh 0vh;}
    .person h2 {margin-top: 2vh; font-family: "MeduimFK", monospace;}
      .person h2:first-child {margin-bottom: 4vh;}
    .person p {font-size: 2.2vh;}
      .person p.first {margin: 0.5vh 0;}
  .head {position: sticky; top: 0; left: 0; width: calc(100vw - 6vh);}
    .contactHeadder {float: left; font-size: 6vh;}
    .linksHeadder {float: right;}
      .team {text-decoration: underline;}

  #contactBody a:hover {color: red;}



/*
projekty
*/
/* ou maj gad */
#projectsBody {position: absolute; top: 0; left: 0; width: 100vw; height: 100vh;}
  #listaProjects {height: 7.5vh; width: 100vw; left: 50%; top: 0; text-align: center; position: absolute; transform: translateX(-50%); box-shadow: 0 0 3vh 0 rgba(0,0,0,0.2); z-index: 10; transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);}
  #listaProjects > div {width: 3.5vh; height: 3.5vh; border: 0.25vh solid transparent; border-radius: 50%; margin: 2vh 5vh; line-height: 3.5vh; display: inline-block; font-size: 2vh; transition: all 0.25s cubic-bezier(0.25, 1, 0.5, 1);}
  #listaProjects > div:hover, #listaProjects > div.selected {border-color: black;}
    #listaProjects.off {top: -7.5vh;}

  #projectBody a:hover {color: rgb(0,255,0);}

  #project {position: absolute; top: 7.5vh; height: 92.5vh; width: 100vw; overflow-x: scroll;}
    #project::-webkit-scrollbar-thumb {background: rgb(0,255,0);}
  .post {height: calc(92.5vh - 1vh); width: auto; display: table-cell; pointer-events: none;}
    .post * {height: calc(100%); display: block; margin: 0 10vw;}
    .post:first-child * {margin-left: 40vw;}
    .post:nth-last-child(1) * {margin-right: 40vw;}

  #nextProject {height: calc(92.5vh - 1vh); width: 15vw; display: block; top: 7.5vh; right: 0; position: fixed;}
    .navigNextProject {position: absolute; top: 0; right: 0; height: calc(92.5vh - 1vh) !important; background: linear-gradient(90deg, transparent 0%, rgba(0,255,0,1) 100%);}
    .nextProject {top: 50%; right: 0; line-height: 7.5vh;}

  #projectAbout, .info {position: absolute; color: white; z-index: 10; top: 15vh; left: 10vw; mix-blend-mode: exclusion;}
    .info {top: 24vh; text-decoration: underline;}
    #projectReading {visibility: hidden; transform: translateX(-30%); opacity: 0; transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1); transform-origin: center; position: absolute; z-index: 10; top: 23.5vh; left: calc(10vw - 1vh); width: 25vw; height: 30vh; font-size: 2.2vh; background: white; padding: 1vh; padding-top: 6vh; box-shadow: 0 0 1vh 0 rgba(0,0,0,0.2);}
      #projectReading.on {visibility: visible; opacity: 1; transform: translateX(0); pointer-events: all;}
    #projectReading .close {position: absolute; right: 1.25vh; top: 1vh; pointer-events: all;}
      .reading {height: 30vh; overflow-y: scroll; position: absolute; width: 25vw;}

  .model {pointer-events: all !important; width: 30vw; cursor: wait;}



/*
admin
*/
/* */
#admin, #admin * {cursor: default !important;}
#adminBody {padding: 2vh;}
.logout, .adminHome {position: absolute; top: 2vh; right: 2vh; font-size: 5vh;}
.logout {right: 7vh;}
  .logout:hover, .adminHome:hover {color: blue;}
input {font-family: "MeduimFK", monospace; border: 0; border-bottom: 1vh solid gray; font-size: 2vh; padding: 1vh; outline: none; width: 30vh; max-width: 80vw; margin-bottom: 1vh;}
input:focus {outline: none; border-color: blue;}
input[type="submit"] {background: blue; color: white; border: 1vh solid blue; width: 32vh;}
  input[type="submit"]:hover {background: red; border-color: red;}
  #aktualitaForm input[type="text"] {width: 100vh;}
  #aktualitaForm i {font-size: 50%; color: gray; user-select: text !important;}
#admin table {border-collapse: collapse;}
#admin table tr td {padding: 1vh 2vh;}
  #admin table tr:first-child td {color: gray; font-style: italic;}
  #admin table tr td:first-child {padding-left: 0;}
  #admin table tr td:last-child {padding-right: 0;}
  #admin table tr.active td {background: rgb(0, 255, 0);}
